#pending-cases-page{
    display: flex;
    height: 80vh;
    width: 90%;
    justify-content: flex-start;
    background: #243047;
    border-radius: 20px;
    flex-direction: column;
    padding-top: 3rem;
    overflow-y: auto;
}

#pending-cases-page .no-cases {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

#pending-cases-page .no-cases img{
    height: 300px;
    width: 300px;
}