#cases-page{
    display: flex;
    height: 80vh;
    width: 50%;
    justify-content: flex-start;
    background: #243047;
    border-radius: 20px;
    flex-direction: column;
    padding-top: 3rem;
}
